{% extends "home/base.html" %}

{% block head %}
    <link rel="manifest" id="my-manifest">
    <link rel="apple-touch-icon" href="./static/icon-72x72.png" sizes="72x72">
    <link rel="apple-touch-icon" href="./static/icon-114x114.png" sizes="114x114">
    <link rel="apple-touch-icon" href="./static/icon-120x120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="./static/icon-144x144.png" sizes="144x144">
    <script>
        let setManifestURL = function () {
            let startUrl = window.location.href;
            let url_origin = window.location.origin;

            let manifest = {
                "name": "R24",
                "short_name": "R24",
                "description": "purchase management for Rakuten 24",
                "theme_color": "aliceblue",
                "background_color": "#1f1f1f",
                "display": "standalone",
                "start_url": startUrl,
                "icons": [
                    {
                        "src": url_origin + "/static/icon-192x192.png",
                        "sizes": "192x192",
                        "type": "image/png"
                    },
                    {
                        "src": url_origin + "/static/icon-512x512.png",
                        "sizes": "512x512",
                        "type": "image/png"
                    }
                ]
            };

            const stringManifest = JSON.stringify(manifest);
            const blob = new Blob([stringManifest], {type: 'application/json'});
            const manifestURL = URL.createObjectURL(blob);
            document.querySelector('#my-manifest').setAttribute('href', manifestURL);
        }

        setManifestURL()
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('sw.js').then(function() { console.log('Service Worker Registered'); });
            }
    </script>
{% endblock %}

{% block content %}
    <head>
        <div class="head-wrap">
            <div class="row">
                <div class="col align-self-start text-right">
                    <form method="get" action="{% url 'add' %}">
                        <button class="btn btn-outline-danger" type="submit">追加</button>
                     </form>
                </div>
            </div>
        </div>
    </head>
    <main>
        <form class="form-upload" method="post" action="{% url 'index' %}" id="list_upload">
            {% csrf_token %}
            <div class="tab-wrap">
                <input id="TAB-SUM-PRICE" type="radio" name="TAB" class="tab-switch" onclick="radioDeselection(this, 'sum-price')" checked/>
                <label class="tab-label" for="TAB-SUM-PRICE">
                    合計金額
                    {% if request.GET.target != "all" %}
                        <span class="col-1"><button type="submit" form="get-all" class="btn btn-sm btn-warning">全て表示</button></span>
                    {% else %}
                        <span class="col-1"><button type="submit" form="get-paid" class="btn btn-sm btn-warning">購入対象のみ表示</button></span>
                    {% endif %}
                </label>
                <div class="tab-content">
                    <table class="table table-hover table-sm">
                        <thead class="thead-light">
                        <tr>
                            <th>店舗</th>
                            <th>価格</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for store in sum_price %}
                            <tr bgcolor="{{ date.bgcolor }}">
                                <td>
                                    <img class="fit-picture" src="/static/icon/{{ store.id }}.png">{{store.name}}
                                </td>
                                <td>
                                    <span>{{store.sum}}</span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% for group in data %}
                    <input id="TAB-{{ group.id }}" type="radio" name="TAB" class="tab-switch" onclick="radioDeselection(this, {{ group.id }})"/><label class="tab-label" for="TAB-{{ group.id }}">{{ group.name }}</label>
                    <div class="tab-content">
                        <table class="table table-hover table-sm">
                            <thead class="thead-light">
                            <tr>
                                <th>商品名</th>
                                <th>価格</th>
                                <th>数量</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for goods in group.goods %}
                                <tr bgcolor="{{ date.bgcolor }}">
                                    <td>
                                        <a href="{% url 'edit' goods.id%}"><img class="fit-picture" src="/static/icon/{{ goods.min_store }}.png"> {% if goods.compare_exist == False %}* {% endif %}{{goods.name}}</a>
                                    </td>
                                    <td>
                                        <span>{{goods.min_value}}</span>
                                    </td>
                                    <td class="td-value">
                                        <input class="form-control-sm" type="number" value="{{ goods.count }}" min="0" max="10" step="1" buttonsOnly name="goods_count-{{ goods.id }}-{{ goods.count }}"/>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
        </form>
        <form id="get-all" method="get" action="{% url 'index' %}">
            <input type="hidden" name="target" value="all">
        </form>
        <form id="get-paid" method="get" action="{% url 'index' %}">
            <input type="hidden" name="target" value="paid">
        </form>

    </main>
    <footer>
        <div class="foot-wrap">
            <div class="row">
                <div class="col align-self-start">
                    <button class="btn btn-outline-primary" type="submit" name="submit" value="upload" form="list_upload">保存</button>
                </div>
                <div class="col align-self-start text-right">
                    <form method="get" action="{% url 'list' %}">
                        <input type="hidden" name="id" value="rakuten">
                        <button class="btn btn-outline-success" type="submit">一覧</button>
                    </form>
                </div>
            </div>
        </div>
    </footer>

    <script src="./static/src/input-spinner.js"></script>
    <script>
        $("input[type='number']").inputSpinner()
    </script>

{% endblock %}
